################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskManagement.Database/bin/Debug/net6.0
/TaskManagement.Database/obj
/TaskManagement.UnitTests/bin
/TaskManagement.UnitTests/obj
